* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  display: inline-block;
  height: auto;
}

div {
  width: 100%;
}

section {
  width: 100%;
}
section .container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: 1fr 300px 1fr;
  grid-column-gap: 15px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
@media only screen and (min-width: 768px) {
  section .container {
    grid-template-rows: 1fr 380px 1fr;
  }
}
section .container .left_left {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
section .container .left_left img {
  width: 200px;
}
@media only screen and (min-width: 576px) {
  section .container .left_left img {
    width: 240px;
    margin-top: -30px;
    margin-left: -25px;
  }
}
@media only screen and (min-width: 768px) {
  section .container .left_left img {
    width: 330px;
    margin-top: -65px;
  }
}
@media only screen and (min-width: 992px) {
  section .container .left_left img {
    width: 350px;
    margin-top: -83px;
    margin-left: -82px;
  }
}
section .container .top_left {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
section .container .top_left .main_img {
  width: 130px;
}
@media only screen and (min-width: 768px) {
  section .container .top_left .main_img {
    width: 200px;
  }
}
section .container .top_left .icon {
  margin-top: 10px;
  width: 80px;
}
@media only screen and (min-width: 768px) {
  section .container .top_left .icon {
    width: 115px;
  }
}
section .container .top_right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  section .container .top_right {
    transform: translateX(-40px);
  }
}
section .container .top_right .main_img {
  width: 110px;
}
@media only screen and (min-width: 768px) {
  section .container .top_right .main_img {
    width: 185px;
  }
}
section .container .top_right .icon_text {
  width: 50px;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  section .container .top_right .icon_text {
    width: 150px;
  }
}
section .container .top_right .icon_text img {
  margin-top: 10px;
}
section .container .top_right .icon_text img:last-child {
  width: 65px;
  transform: translateX(-8px);
}
@media only screen and (min-width: 768px) {
  section .container .top_right .icon_text img:last-child {
    width: 175px;
    transform: translateX(-20px);
  }
}
section .container .bottom_left {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-flow: wrap wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
section .container .bottom_left .icon_text {
  width: 40%;
  margin-right: 8%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
section .container .bottom_left .icon_text img {
  width: 100%;
}
section .container .bottom_left .icon_text img:first-child {
  width: 80%;
  margin-bottom: 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  section .container .bottom_left .icon_text img:first-child {
    width: 65px;
  }
}
@media only screen and (min-width: 768px) {
  section .container .bottom_left .icon_text img {
    width: 90px;
  }
}
section .container .bottom_left .main_img {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  section .container .bottom_left .main_img {
    width: 190px;
  }
}
section .container .bottom_right {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
section .container .bottom_right .main_img {
  width: 60%;
}
@media only screen and (min-width: 576px) {
  section .container .bottom_right .main_img {
    width: 214px;
  }
}
@media only screen and (min-width: 768px) {
  section .container .bottom_right .main_img {
    width: 288px;
  }
}
section .container .bottom_right .icon_text {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 576px) {
  section .container .bottom_right .icon_text {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  section .container .bottom_right .icon_text {
    width: 120px;
  }
}
section .container .bottom_right .icon_text img {
  width: 50px;
}
@media only screen and (min-width: 768px) {
  section .container .bottom_right .icon_text img {
    width: 90px;
  }
}
section .container .bottom_right .icon_text img:last-child {
  width: 60px;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  section .container .bottom_right .icon_text img:last-child {
    width: 105px;
  }
}
section .container .bottom_left,
section .container .bottom_right {
  margin-top: 30px;
}
@media only screen and (min-width: 576px) {
  section .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  section .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  section .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 1900px) and (min-height: 920px) {
  section .container {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container {
    position: relative;
    height: 100vh;
    min-height: 650px;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .left_left {
    width: 370px;
    position: absolute;
    left: 0px;
    top: 100px;
  }
  section .container .left_left img {
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .left_left {
    width: 435px;
    top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_left {
    width: 210px;
    position: absolute;
    top: 0px;
    left: 320px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .top_left {
    left: 500px;
    width: 250px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_left .main_img {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_left .icon {
    width: 70%;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_right {
    width: 430px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .top_right {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_right .icon_text {
    width: 180px;
    margin-right: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .top_right .icon_text {
    width: 220px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_right .icon_text img {
    width: 165px;
    margin-top: 10px;
  }
  section .container .top_right .icon_text img:last-child {
    width: 195px;
    margin-left: -15px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .top_right .icon_text img {
    width: 200px;
  }
  section .container .top_right .icon_text img:last-child {
    width: 240px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .top_right .main_img {
    width: 230px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .top_right .main_img {
    width: 245px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_right {
    position: absolute;
    right: 0px;
    top: 335px;
    width: 470px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_right {
    width: 530px;
    top: 356px;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_right .main_img {
    width: 310px;
    position: relative;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_right .main_img {
    width: 335px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_right .icon_text {
    width: 160px;
    transform: translateX(65px);
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_right .icon_text {
    transform: translateX(70px);
    width: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_right .icon_text img {
    width: 110px;
  }
  section .container .bottom_right .icon_text img:last-child {
    width: 135px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_right .icon_text img {
    width: 140px;
  }
  section .container .bottom_right .icon_text img:last-child {
    width: 170px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 436px;
    position: absolute;
    top: 400px;
    left: 265px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_left {
    left: 405px;
    top: 415px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_left .main_img {
    width: 185px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_left .main_img {
    width: 170px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_left .icon_text {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom_left .icon_text img {
    width: 70px;
  }
  section .container .bottom_left .icon_text img:first-child {
    margin-right: 15px;
  }
  section .container .bottom_left .icon_text img:last-child {
    width: 85px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .bottom_left .icon_text img {
    width: 90px;
  }
  section .container .bottom_left .icon_text img:first-child {
    margin-right: 25px;
  }
  section .container .bottom_left .icon_text img:last-child {
    width: 115px;
  }
}
section .line1,
section .line2,
section .line3,
section .line4 {
  width: 100px;
  height: 1px;
  top: 500px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='5%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
section .line1 {
  width: 1px;
  height: 110px;
  left: 122px;
  top: 120px;
  width: 1px;
}
@media only screen and (min-width: 576px) {
  section .line1 {
    left: 165px;
    top: 125px;
  }
}
@media only screen and (min-width: 768px) {
  section .line1 {
    left: 230px;
    top: 155px;
    height: 170px;
  }
}
@media only screen and (min-width: 992px) {
  section .line1 {
    left: 287px;
  }
}
@media only screen and (min-width: 1200px) {
  section .line1 {
    width: 120px;
    top: 125px;
    left: 215px;
  }
}
@media only screen and (min-width: 1400px) {
  section .line1 {
    width: 270px;
    top: 145px;
    left: 255px;
  }
}
section .line2 {
  width: 1px;
  height: 145px;
  right: 110px;
  top: 188px;
}
@media only screen and (min-width: 576px) {
  section .line2 {
    right: 230px;
    top: 190px;
  }
}
@media only screen and (min-width: 768px) {
  section .line2 {
    right: 286px;
    top: 275px;
    height: 220px;
  }
}
@media only screen and (min-width: 992px) {
  section .line2 {
    right: 427px;
  }
}
@media only screen and (min-width: 1200px) {
  section .line2 {
    width: 665px;
    top: 300px;
    left: 260px;
  }
}
@media only screen and (min-width: 1400px) {
  section .line2 {
    width: 840px;
    top: 315px;
  }
}
section .line3 {
  right: 102px;
  width: 1px;
  top: 340px;
  height: 195px;
}
@media only screen and (min-width: 576px) {
  section .line3 {
    height: 210px;
    right: 213px;
    top: 372px;
  }
}
@media only screen and (min-width: 768px) {
  section .line3 {
    height: 285px;
    right: 280px;
    top: 510px;
  }
}
@media only screen and (min-width: 992px) {
  section .line3 {
    right: 425px;
    top: 505px;
  }
}
@media only screen and (min-width: 1200px) {
  section .line3 {
    width: 585px;
    left: 255px;
    top: 340px;
  }
}
@media only screen and (min-width: 1400px) {
  section .line3 {
    width: 715px;
    left: 300px;
    top: 370px;
  }
}
section .line4 {
  width: 1px;
  height: 130px;
  left: 125px;
  top: 405px;
  position: absolute;
}
@media only screen and (min-width: 576px) {
  section .line4 {
    height: 150px;
    left: 210px;
    top: 435px;
  }
}
@media only screen and (min-width: 768px) {
  section .line4 {
    height: 195px;
    left: 295px;
    top: 605px;
  }
}
@media only screen and (min-width: 992px) {
  section .line4 {
    height: 185px;
    left: 373px;
  }
}
@media only screen and (min-width: 1200px) {
  section .line4 {
    width: 345px;
    left: 185px;
    top: 456px;
  }
}
@media only screen and (min-width: 1400px) {
  section .line4 {
    width: 485px;
    left: 210px;
    top: 485px;
  }
}

/*# sourceMappingURL=style.css.map */
