* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// section {
//     padding-top: 500px;
//     padding-bottom: 500px;
// }

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$respList: (
    $sm: 540px,
    $md: 720px,
    $lg: 960px,
    $xl: 1140px,
    $xxl: 1320px,
);
// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin respMax($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin flex($dir) {
    display: flex;
    flex-flow: $dir wrap;
    @content;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
    display: inline-block;
    height: auto;
}

div {
    width: 100%;
}

section {
    width: 100%;
    .container {
        // mobile version
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        grid-template-rows: 1fr 300px 1fr;
        grid-column-gap: 15px;
        padding-top: 50px;
        @include resp($md) {
            grid-template-rows: 1fr 380px 1fr;
        }
        @include resp($xl) {
            display: block;
        }
        .left_left {
            grid-column: 1/-1;
            grid-row: 2/3;
            @include flex(row) {
                justify-content: center;
                align-items: center;
            }
            img {
                width: 200px;
                @include resp($sm) {
                    width: 240px;
                    margin-top: -30px;
                    margin-left: -25px;
                }
                @include resp($md) {
                    width: 330px;
                    margin-top: -65px;
                }
                @include resp($lg) {
                    width: 350px;
                    margin-top: -83px;
                    margin-left: -82px;
                }
            }
        }
        .top_left {
            grid-column: 1/2;
            grid-row: 1/2;
            @include flex(column) {
                align-items: center;
            }
            .main_img {
                width: 130px;
                @include resp($md) {
                    width: 200px;
                }
            }
            .icon {
                margin-top: 10px;
                width: 80px;
                @include resp($md) {
                    width: 115px;
                }
            }
        }
        .top_right {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            @include resp($md) {
                transform: translateX(-40px);
            }
            .main_img {
                width: 110px;
                @include resp($md) {
                    width: 185px;
                }
            }
            .icon_text {
                width: 50px;
                margin-right: 10px;
                @include resp($sm) {
                    transform: translateX(-35px);
                }
                @include resp($md) {
                    width: 150px;
                    transform: translateX(-5px);
                }
                img {
                    margin-top: 10px;
                    width: 50px;
                    @include resp($sm) {
                        width: 80px;
                    }
                    @include resp($md) {
                        width: 150px;
                    }
                    &:last-child {
                        width: 65px;
                        transform: translateX(-8px);
                        @include resp($sm) {
                            width: 100px;
                            transform: translateX(-15px);
                        }
                        @include resp($md) {
                            width: 175px;
                            transform: translateX(-20px);
                        }
                    }
                }
            }
        }
        .bottom_left {
            grid-column: 1/2;
            grid-row: 3/4;
            @include flex(wrap) {
                justify-content: flex-start;
                align-items: flex-start;
            }
            .icon_text {
                width: 40%;
                margin-right: 8%;
                @include flex(column) {
                    justify-content: center;
                    align-items: center;
                }
                img {
                    &:first-child {
                        width: 80%;
                        margin-bottom: 15px;
                        margin-top: 10px;
                        @include resp($sm) {
                            width: 45px;
                        }
                        @include resp($md) {
                            width: 65px;
                        }
                        @include resp($xl) {
                            width: 75px;
                        }
                    }
                    width: 100%;
                    @include resp($sm) {
                        width: 62px;
                    }
                    @include resp($md) {
                        width: 90px;
                    }
                }
            }
            .main_img {
                width: 50%;
                @include resp($md) {
                    width: 190px;
                }
            }
        }
        .bottom_right {
            grid-column: 2/3;
            grid-row: 3/4;
            @include flex(row) {
                justify-content: flex-start;
                align-items: flex-start;
            }
            .main_img {
                width: 60%;
                @include resp($sm) {
                    width: 214px;
                }
                @include resp($md) {
                    width: 288px;
                }
            }
            .icon_text {
                width: 40%;
                @include flex(column) {
                    align-items: center;
                    justify-content: center;
                }
                @include resp($sm) {
                    width: 30%;
                }
                @include resp($md) {
                    width: 120px;
                }
                img {
                    width: 50px;
                    @include resp($md) {
                        width: 90px;
                    }
                    &:last-child {
                        width: 60px;
                        margin-top: 15px;
                        @include resp($md) {
                            width: 105px;
                        }
                    }
                }
            }
        }
        .bottom_left,
        .bottom_right {
            margin-top: 30px;
            @include resp($xl) {
                margin-top: 0px;
            }
        }
        // for all common style
        .left_left,
        .top_left,
        .top_right,
        .bottom_left,
        .bottom_right {
        }

        // desktop version
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        @each $screen, $val in $respList {
            @include resp($screen) {
                max-width: $val;
            }
        }
        @media only screen and (min-width: 1900px) and (min-height: 920px) {
            margin-top: 100px;
        }
        @include resp($xl) {
            position: relative;
            height: 100vh;
            min-height: 650px;
            margin-top: 15px;
        }
        // left side phone img
        .left_left {
            @include resp($xl) {
                width: 404px;
                position: absolute;
                left: 35px;
                top: 165px;
                img {
                    width: 100%;
                }
            }
            @include resp($xxl) {
                width: 485px;
                top: 140px;
            }
        }
        // top left
        .top_left {
            @include resp($xl) {
                width: 210px;
                position: absolute;
                top: 0px;
                left: 320px;
                @include flex(column) {
                    align-items: center;
                }
            }
            @include resp($xxl) {
                left: 500px;
                width: 250px;
            }
            .main_img {
                @include resp($xl) {
                    width: 100%;
                }
            }
            .icon {
                @include resp($xl) {
                    width: 140px;
                    margin-top: 15px;
                }
                @include resp($xxl) {
                }
            }
        }
        // top right
        .top_right {
            @include resp($xl) {
                width: 430px;
                position: absolute;
                right: 0px;
                top: 0px;
                @include flex(row) {
                    justify-content: flex-end;
                }
            }
            @include resp($xxl) {
                width: 500px;
                right: -40px;
            }
            .icon_text {
                @include resp($xl) {
                    width: 180px;
                    margin-right: 15px;
                    @include flex(column) {
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                }
                @include resp($xxl) {
                    width: 220px;
                }
                img {
                    @include resp($xl) {
                        width: 165px;
                        margin-top: 10px;
                        &:last-child {
                            width: 195px;
                            margin-left: -15px;
                        }
                    }
                    @include resp($xxl) {
                        width: 200px;
                        &:last-child {
                            width: 240px;
                            margin-top: 20px;
                            margin-right: -25px;
                        }
                    }
                }
            }
            .main_img {
                @include resp($xl) {
                    width: 230px;
                }
                @include resp($xxl) {
                    width: 245px;
                }
            }
        }
        // bottom right
        .bottom_right {
            @include resp($xl) {
                position: absolute;
                right: 0px;
                top: 335px;
                width: 470px;
                @include flex(row) {
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
            @include resp($xxl) {
                width: 530px;
                top: 370px;
                justify-content: flex-end;
            }
            .main_img {
                @include resp($xl) {
                    width: 310px;
                    position: relative;
                }
                @include resp($xxl) {
                    width: 335px;
                }
            }
            .icon_text {
                @include resp($xl) {
                    width: 160px;
                    transform: translateX(40px);
                    margin-top: 35px;
                }
                @include resp($xxl) {
                    transform: translateX(20px);
                    width: 135px;
                }
                img {
                    @include resp($xl) {
                        width: 100px;
                        &:last-child {
                            width: 115px;
                            margin-top: 30px;
                        }
                    }
                    @include resp($xxl) {
                        width: 115px;
                        &:last-child {
                            width: 135px;
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
        // bottom left
        .bottom_left {
            @include resp($xl) {
                @include flex(row) {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
                width: 436px;
                position: absolute;
                top: 400px;
                left: 265px;
            }
            @include resp($xxl) {
                left: 405px;
                top: 415px;
            }
            .main_img {
                @include resp($xl) {
                    width: 185px;
                }
                @include resp($xxl) {
                    width: 170px;
                }
            }
            .icon_text {
                @include resp($xl) {
                    width: 40%;
                    @include flex(column) {
                        justify-content: flex-end;
                        align-items: flex-end;
                    }
                    margin-right: 10px;
                }
                img {
                    @include resp($xl) {
                        width: 70px;
                        &:first-child {
                            margin-right: 15px;
                        }
                        &:last-child {
                            width: 85px;
                            margin-top: 20px;
                            @include resp($xl) {
                                width: 105px;
                            }
                        }
                    }
                    &:last-child {
                        @include resp($xl) {
                            width: 105px;
                        }
                    }
                    @include resp($xxl) {
                        width: 90px;
                        &:first-child {
                            margin-right: 25px;
                            width: 85px;
                            margin-bottom: 0px;
                        }
                        &:last-child {
                            width: 115px;
                        }
                    }
                }
            }
        }
    }
    // line style
    .line1,
    .line2,
    .line3,
    .line4 {
        width: 100px;
        height: 1px;
        // border-bottom: 1px dotted black;
        top: 500px;
        position: absolute;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='2%2c 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    }
    .line1 {
        width: 1px;
        height: 110px;
        left: 122px;
        top: 120px;
        width: 1px;
        @include resp($sm) {
            left: 165px;
            top: 125px;
        }
        @include resp($md) {
            left: 230px;
            top: 155px;
            height: 170px;
        }
        @include resp($lg) {
            left: 287px;
        }
        @include resp($xl) {
            width: 120px;
            top: 125px;
            left: 215px;
            height: 1px;
        }
        @include resp($xxl) {
            width: 270px;
            top: 110px;
            left: 255px;
        }
    }
    .line2 {
        width: 1px;
        height: 145px;
        right: 110px;
        top: 188px;
        @include resp($sm) {
            right: 230px;
            top: 190px;
        }
        @include resp($md) {
            right: 286px;
            top: 275px;
            height: 220px;
        }
        @include resp($lg) {
            right: 427px;
        }
        @include resp($xl) {
            width: 665px;
            top: 300px;
            left: 260px;
            height: 1px;
        }
        @include resp($xxl) {
            width: 790px;
            top: 310px;
            left: 310px;
        }
    }
    .line3 {
        right: 102px;
        width: 1px;
        top: 340px;
        height: 195px;
        @include resp($sm) {
            height: 210px;
            right: 213px;
            top: 372px;
        }
        @include resp($md) {
            height: 285px;
            right: 280px;
            top: 510px;
        }
        @include resp($lg) {
            right: 425px;
            top: 505px;
        }
        @include resp($xl) {
            width: 585px;
            left: 285px;
            top: 340px;
            height: 1px;
        }
        @include resp($xxl) {
            width: 680px;
            left: 340px;
            top: 375px;
        }
    }
    .line4 {
        width: 1px;
        height: 130px;
        left: 125px;
        top: 405px;
        position: absolute;
        @include resp($sm) {
            height: 150px;
            left: 210px;
            top: 435px;
        }
        @include resp($md) {
            height: 195px;
            left: 295px;
            top: 605px;
        }
        @include resp($lg) {
            height: 185px;
            left: 373px;
        }
        @include resp($xl) {
            width: 345px;
            left: 185px;
            top: 456px;
            height: 1px;
        }
        @include resp($xxl) {
            width: 485px;
            left: 215px;
            top: 495px;
        }
    }
}
