* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$respList: (
    $sm: 540px,
    $md: 720px,
    $lg: 960px,
    $xl: 1140px,
    $xxl: 1320px,
);
// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin flex($dir) {
    display: flex;
    flex-flow: $dir wrap;
    @content;
}

img {
    width: 100%;
    display: inline-block;
    height: auto;
}

div {
    width: 100%;
}

section {
    width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include resp($xl) {
        height: initial;
    }
    .container {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        // grid-column: 10px;
        // grid style
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 250px 150px;
        @include resp ($sm) {
          grid-template-rows: 200px 250px 200px;
        }
        @include resp($xl) {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, 1fr);
            row-gap: 20px;
            column-gap: 20px;
        }
        @each $screen, $val in $respList {
            @include resp($screen) {
                max-width: $val;
            }
        }
        // left side phone img
        .left_left {
            grid-column: 1/-1;
            grid-row: 2/3;
            @include resp($xl) {
                grid-column: 1/6;
                grid-row: 2/-2;
            }
            align-items: center;
            justify-content: center;
            .img_wrap {
                width: 155px;
                @include resp($xl) {
                    width: 85%;
                }
                img {
                    @include resp($xl) {
                        width: 100%;
                    }
                }
            }
        }
        // top left
        .top_left {
            grid-column: 1/2;
            grid-row: 1/2;
            @include flex(column);
            @include resp($xl) {
                grid-column: 5/8;
                grid-row: 1/7;
            }

            // img wrap
            .img_wrap {
                img {
                    width: 145px;
                }
            }
            .icon_text {
                @include flex(row) {
                    justify-content: center;
                }
                img {
                    width: 80px;
                    margin-top: 5px;
                    @include resp($xl) {
                        width: 200px;
                        margin-top: 10px;
                    }
                }
            }
        }
        // top right
        .top_right {
            justify-content: space-between;
            // display: none!important;
            @include flex(row) {
                flex-wrap: nowrap;
                justify-content: flex-end;
            }
            grid-column: 2/3;
            grid-row: 1/2;
            @include resp($xl) {
                grid-column: -6/-1;
                grid-row: 1/6;
                justify-content: space-between;
            }
            .icon_text {
                width: 55px;
                @include flex(column);
                @include resp($sm) {
                    width: 100px;
                    margin-right: 10px;
                    flex-wrap: nowrap;
                }
                img {
                    width: 100%;
                    @include resp($sm) {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-left: -18px;
                            width: 120%;
                        }
                    }
                }
                @include resp($xl) {
                    width: 40%;
                    @include flex(column) {
                        align-items: center;
                        justify-content: center;
                    }
                }
                img {
                    @include resp($xl) {
                        width: 125px;
                        &:last-child {
                            width: 250px;
                            margin-right: 20px;
                        }
                    }
                }
            }
            .img_wrap {
                width: 80px;
                @include resp($sm) {
                    width: 135px;
                }
                @include resp($xl) {
                    width: 55%;
                }
                img {
                    width: 100%;
                }
                
            }
        }
        // bottom right
        .bottom_right {
            // display: none !important;
            @include flex(column) {
                justify-content: flex-start;
                flex-wrap: nowrap;
            }
            grid-column: 2/3;
            grid-row: 3/4;
            @include resp($xl) {
                grid-column: -5/-1;
                grid-row: 7/-3;
                justify-content: flex-end;
            }
            .img_wrap {
                order: 5;
                @include resp($xl) {
                    width: 73%;
                }
                img {
                    width: 100%;
                }
            }
            .icon_text {
                order: 7;
                flex-flow: row wrap;
                justify-content: center;
                @include resp($xl) {
                    width: 28%;
                    @include flex(column) {
                        justify-content: flex-end;
                    }
                }
                img {
                    &:first-child {
                        width: 52px;
                    }
                    &:last-child {
                        width: 55px;
                    }
                    @include resp($xl) {
                        &:first-child {
                            width: 130px;
                            margin-right: 10px;
                        }
                        &:last-child {
                            width: 170px;
                        }
                    }
                }
            }
        }
        // bottom left
        .bottom_left {
            grid-column: 1/2;
            grid-row: 3/4;
            @include resp($xl) {
                grid-column: 5/9;
                grid-row: 7/-1;
                @include flex(row) {
                    align-items: flex-end;
                }
            }
            .icon_text {
                width: 30%;
                @include flex(column) {
                    justify-content: flex-end;
                }
                @include resp($xl) {
                    width: 50%;
                    @include flex(column) {
                        align-items: center;
                        justify-content: center;
                    }
                }
                img {
                    width: 25px;
                    @include resp($xl) {
                        &:first-child {
                            width: 150px;
                            margin-right: 15px;
                        }
                        &:last-child {
                            width: 190px;
                        }
                    }
                }
            }
            .img_wrap {
                @include flex(row) {
                    align-items: flex-end;
                }
                width: 60%;
                @include resp($xl) {
                    width: 50%;
                }
            }
        }
        .icon_text {
            width: 100%;
        }
        // on every element
        .left_left,
        .top_left,
        .top_right,
        .bottom_left,
        .bottom_right {
            display: flex;
        }
    }
}
