* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$respList: (
    $sm: 540px,
    $md: 720px,
    $lg: 960px,
    $xl: 1140px,
    $xxl: 1320px,
);
// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin flex($dir) {
    display: flex;
    flex-flow: $dir wrap;
    @content;
}

img {
    width: 100%;
    display: inline-block;
    height: auto;
}

div {
    width: 100%;
}

section {
    width: 100%;
    height: 100vh;
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        @each $screen, $val in $respList {
            @include resp($screen) {
                max-width: $val;
            }
        }
        @include resp($xl) {
            position: relative;
            height: 100%;
        }

        // left side phone img
        .left_left {
            @include resp($xl) {
                width: 370px;
                position: absolute;
                left: 0px;
                top: 100px;
                img {
                    width: 100%;
                }
            }
            @include resp($xxl) {
                width: 435px;
                top: 90px;
            }
        }
        // top left
        .top_left {
            @include resp($xl) {
                width: 210px;
                position: absolute;
                top: 0px;
                left: 320px;
                @include flex(column) {
                    align-items: center;
                }
            }
            @include resp($xxl) {
                left: 500px;
                width: 250px;
            }
            .main_img {
                @include resp($xl) {
                    width: 100%;
                }
            }
            .icon {
                @include resp($xl) {
                    width: 70%;
                    margin-top: 5px;
                }
                @include resp($xxl) {
                }
            }
        }
        // top right
        .top_right {
            @include resp($xl) {
                width: 430px;
                position: absolute;
                right: 0px;
                top: 0px;
                @include flex(row) {
                    justify-content: flex-end;
                }
            }
            @include resp($xxl) {
                width: 500px;
            }
            .icon_text {
                @include resp($xl) {
                    width: 180px;
                    margin-right: 15px;
                    @include flex(column) {
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                }
                @include resp($xxl) {
                    width: 220px;
                }
                img {
                    @include resp($xl) {
                        width: 165px;
                        margin-top: 10px;
                        &:last-child {
                            width: 195px;
                            margin-left: -15px;
                        }
                    }
                    @include resp($xxl) {
                        width: 200px;
                        &:last-child {
                            width: 240px;
                            margin-top: 20px;
                        }
                    }
                }
            }
            .main_img {
                @include resp($xl) {
                    width: 230px;
                }
                @include resp($xxl) {
                    width: 245px;
                }
            }
        }
        // bottom right
        .bottom_right {
            @include resp($xl) {
                position: absolute;
                right: 0px;
                top: 335px;
                width: 530px;
                @include flex(row) {
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
            @include resp($xxl) {
                top: 356px;
                justify-content: flex-end;
            }
            .main_img {
                width: 310px;
                position: relative;
                @include resp($xxl) {
                    width: 335px;
                }
            }
            .icon_text {
                @include resp($xl) {
                    width: 160px;
                    transform: translateX(35px);
                    margin-top: 35px;
                }
                @include resp($xxl) {
                    transform: translateX(70px);
                    width: 180px;
                }
                img {
                    @include resp($xl) {
                        width: 110px;
                        &:last-child {
                            width: 135px;
                        }
                    }
                    @include resp($xxl) {
                        width: 140px;
                        &:last-child {
                            width: 170px;
                        }
                    }
                }
            }
        }
        // bottom left
        .bottom_left {
            @include resp($xl) {
                @include flex(row) {
                    justify-content: flex-end;
                }
                width: 436px;
                position: absolute;
                top: 400px;
                left: 265px;
            }
            @include resp($xxl) {
                left: 405px;
                top: 415px;
            }
            .main_img {
                @include resp($xl) {
                    width: 185px;
                }
                @include resp($xxl) {
                    width: 170px;
                }
            }
            .icon_text {
                width: 40%;
                @include flex(column) {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
                margin-right: 10px;
                img {
                    @include resp($xl) {
                        width: 70px;
                        &:first-child {
                            margin-right: 15px;
                        }
                        &:last-child {
                            width: 85px;
                            margin-top: 20px;
                        }
                    }
                    @include resp($xxl) {
                        width: 90px;
                        &:first-child {
                            margin-right: 25px;
                        }
                        &:last-child {
                            width: 115px;
                        }
                    }
                }
            }
        }
    }
    // line style
    .line1,
    .line2,
    .line3,
    .line4 {
        width: 100px;
        height: 1px;
        border-bottom: 2px dotted black;
        top: 500px;
        position: absolute;
    }
    .line1 {
        @include resp($xl) {
            width: 120px;
            top: 125px;
            left: 215px;
        }
        @include resp($xxl) {
            width: 270px;
            top: 145px;
            left: 255px;
        }
    }
    .line2 {
        @include resp($xl) {
            width: 665px;
            top: 300px;
            left: 260px;
        }
        @include resp($xxl) {
            width: 840px;
            top: 315px;
        }
    }
    .line3 {
        @include resp($xl) {
            width: 585px;
            left: 255px;
            top: 340px;
        }
        @include resp($xxl) {
            width: 715px;
            left: 300px;
            top: 370px;
        }
    }
    .line4 {
        @include resp($xl) {
            width: 345px;
            left: 185px;
            top: 456px;
        }
        @include resp($xxl) {
            width: 485px;
            left: 210px;
            top: 485px;
        }
    }
}
